@tailwind base;
@tailwind components;
@tailwind utilities;

#action-message {
    transition: opacity 2s ease-in-out !important;
    opacity: 0 !important;
}

#action-message.show {
    opacity: 1 !important;
}
